{
    "openapi": "3.0.0",
    "info": {
        "title": "VPN Bot API Documentation",
        "description": "API documentation for VPN Bot Backend",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "API Server"
        }
    ],
    "paths": {
        "/api": {},
        "/api/v1/keys": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "Список ключей пользователя",
                "operationId": "638c2f182a74fb56fbc2ecb1759ca9bc",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Смещение для пагинации",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Количество записей на странице",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Telegram ID пользователя",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "region_name": {
                                                        "type": "string",
                                                        "example": "US"
                                                    },
                                                    "region_flag": {
                                                        "type": "string",
                                                        "example": "🇺🇸"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/keys/{keyId}": {
            "get": {
                "tags": [
                    "Keys"
                ],
                "summary": "Детали ключа",
                "operationId": "d6dce6558475bca4e975f4fd9f9f0b32",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "Telegram ID пользователя",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "key": {
                                                        "type": "string",
                                                        "example": "qwe-123-ewq"
                                                    },
                                                    "region_name": {
                                                        "type": "string",
                                                        "example": "US"
                                                    },
                                                    "region_flag": {
                                                        "type": "string",
                                                        "example": "🇺🇸"
                                                    },
                                                    "expiration_date": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2024-03-20T15:30:00Z"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/keys/checkout": {
            "post": {
                "tags": [
                    "Keys"
                ],
                "summary": "Создание заказа на покупку ключа",
                "operationId": "6e26d2d1bce5fc3d40cfbef38951bef5",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/KeyOrderRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "url": {
                                            "type": "string",
                                            "example": "https://payment.example.com/checkout/123"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/users": {
            "post": {
                "tags": [
                    "Users"
                ],
                "summary": "Создание пользователя",
                "operationId": "ba548b97148bb5c0d8cab3bc3f128bfd",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StoreUserDto"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created successfully"
                    }
                }
            }
        },
        "/api/v1/prices": {
            "get": {
                "tags": [
                    "Prices"
                ],
                "summary": "Список стоимости по регионам",
                "operationId": "f2d2b95b21c4ab08cf76394f76930e71",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Смещение для пагинации",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Количество записей на странице",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    },
                    {
                        "name": "region_id",
                        "in": "query",
                        "description": "ID региона",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "period_id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "period_name": {
                                                        "type": "string",
                                                        "example": "Месяц"
                                                    },
                                                    "price": {
                                                        "type": "integer",
                                                        "example": "100"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/regions": {
            "get": {
                "tags": [
                    "Regions"
                ],
                "summary": "Список поддерживаемых регионов",
                "operationId": "36698e24c9dc137482b1e89ee14d721f",
                "parameters": [
                    {
                        "name": "offset",
                        "in": "query",
                        "description": "Смещение для пагинации",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 0
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Количество записей на странице",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 10
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful operation",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "total": {
                                            "type": "integer",
                                            "example": 100
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "integer",
                                                        "example": 1
                                                    },
                                                    "name": {
                                                        "type": "string",
                                                        "example": "US East"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "StoreUserDto": {
                "required": [
                    "name",
                    "telegram_id"
                ],
                "properties": {
                    "name": {
                        "type": "string",
                        "example": "John Doe"
                    },
                    "telegram_id": {
                        "type": "string",
                        "example": "123456789"
                    }
                },
                "type": "object"
            },
            "KeyOrderRequest": {
                "required": [
                    "user_id",
                    "region_id",
                    "period_id"
                ],
                "properties": {
                    "user_id": {
                        "description": "Telegram ID пользователя",
                        "type": "integer"
                    },
                    "region_id": {
                        "description": "ID региона",
                        "type": "integer"
                    },
                    "period_id": {
                        "description": "ID периода",
                        "type": "integer"
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Keys",
            "description": "Keys"
        },
        {
            "name": "Users",
            "description": "Users"
        },
        {
            "name": "Prices",
            "description": "Prices"
        },
        {
            "name": "Regions",
            "description": "Regions"
        }
    ]
}